
* {
    box-sizing: border-box;
}

body {
    min-width: 720px;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: url("../assets/home.jpg") center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
  }
  .ancientsBlock {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 40%;
    margin: 10px;
    padding: 10px;
  }
  .ancientBorder {
    border: 2px solid red;
  }
  .buttonsBlock {
    flex-wrap: wrap;
    display:flex;
    align-content: space-around;
    justify-content: space-around;
    width: 15%;
    margin: 10px;
    padding: 50px 0px;
  }
  .selectModeButton {
    position: relative;
    width: 130px;
    height: 60px;
    background-color: gray;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
  .selectModeButton:hover {
    background-color: #606060;
  }
  .selectModeButton:active {
    left: 5px;
    top: 5px;
  }

  .playBlock {
    display:flex;
    flex-wrap: nowrap;
    width: 55%;
    margin: 10px;
    padding: 10px;
  }
  .column {
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 50%;
  }
  .cardBack {
    display: none;
    width: 75%;
    height: 47%;
    cursor: pointer;
    padding-top: 50px;
    background: url("../assets/mythicCardBackground.jpg") center/cover;
  }
  .cardPlace {
    display: none;
    width: 75%;
    height: 47%;
    /* background: url("../assets/mythicCardBackground.jpg") center/cover; */
  }
  .cardPlay {
    display: block;
    height: 100%;
    width: 100%;
  }
  .stages {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 350px;
    width: 100%;
  }
  .showStages {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .text {
    text-align: center;
    height: 60px;
    line-height: 30px;
    width: 100%;
    margin: 10px 0 20px 0;
  }
  .textStage {
    color: white;
    text-align: center;
    height: 40px;
    width: 100%;
    margin: 5px 0 5px 0;
  }
  .stage {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    height: 50px;
    width: 100%;
  }
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 10px;
  
  }

  .ancientPicture {
    display: block;
    width: 47%;
    height: 47%;
    background-size: cover;
  }