* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth; 
  }
  body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  padding: 0;
  display: flex;
  height: 3600px;
  width: 1440px;
  flex-direction: column;
  justify-content: space-between;
  }
  .main-title {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 1440px;
    height: 765px;
    background-image: url("images/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg");
    background-color: #777777;
  }
  h1 {
      margin-top: -20px;
  }
  h6 {
    margin-top: -50px;
  }
  .header {
  color: #ffffff;
  background-color: #F2785C;
  position: absolute;
  opacity: 0.5;
  width: 1440 px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 90px;
  }
  .main-header {
    position: relative;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 44px;
    width: 892px;
    height: 422px;
    left: 120px;
    top: 122px;
  }
  .header-title {
    font-size: 30px;
    display: flex;
    width: 360px;
    align-items: center;
    justify-content: center;
  }
  .search-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    bottom: 10px;
    color: #ff0000;
    background-color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 10px;

  }
  .three-steps {
    position: absolute;
    display: flex;
    width: 1177px;
    height: 247px;
    left: 131px;
    top: 845px;
    border: solid 1px #ff0000;

  }
  .destination-class {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 2520px;
    height: 1042px;
    left: -711px;
    top: 930px;
    border: solid 1px #ff0000;
  }

  .footer {
  color: #000000;
  position: absolute;
  width: 728.96px;
  height: 33.65px;
  left: 590px;
  top: 3688px;  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  }
  .nav {
    width: 720px;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .nav-link {
    padding: 0 20px 0 20px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.5s;
    }
    .nav-link:hover {
      color: #0000ff;
    }
    .link {
    text-decoration: none; 
    transition: color 0.5s;
    color: #050505; 
    }
    .link:hover {
    color: #0000ff;
    }
    