* {
    box-sizing: border-box;

  }
  html {
    scroll-behavior: smooth; 
  }
  body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  padding: 0;
  height: 3600px;
  width: 1440px;

  }
  .main-title {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 1440px;
    height: 765px;
    background-image: url("images/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg");
    background-color: #777777;
  }
  h1 {
      margin-top: -20px;
  }
  h6 {
    margin-top: -50px;
  }
  .header {
  color: #ffffff;
  background-color: #F2785C;
  position: absolute;
  opacity: 0.5;
  width: 1440px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 90px;
  }
  .main-header {
    position: relative;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 44px;
    width: 892px;
    height: 422px;
    left: 120px;
    top: 122px;
  }
  .header-title {
    font-size: 30px;
    display: flex;
    width: 360px;
    align-items: center;
    justify-content: center;
  }
  .search-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    bottom: 10px;
    color: #ff0000;
    background-color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 10px;

  }
  .three-steps {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1177px;
    height: 247px;
    left: 131px;
    top: 845px;
    border: solid 1px #ff0000;

  }
  .section-header {
    width: 100%;
    height: 50px;
    color: #F2785C;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 32px;
    font-weight: 600;
    margin-top: -20px;

    text-transform: uppercase;
    letter-spacing: 5px;
  
  }
  .icon-button {
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
  
  }

  .row-3steps {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    width: 100%;
  }
  .destination-header {
    position: absolute;
    display: flex;
    width: 1440px;
    height: 60px;
    left: -0px;
    top: 1189px;
    border: solid 1px #ff0000;  
  }
  .destination-class {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 2520px;
    height: 982px;
    left: -540px;
    top: 1249px;
    border: solid 1px #ff0000;
  }
  .destination-image {
    border-radius: 20px;
    margin: 50px 30px 50px 30px;
    object-fit: cover;
  }
  .stories-header {
    position: absolute;
    width: 1201px;
    height: 60px;
    left: 119px;
    top: 2311px;
    border: solid 1px #ff0000;
  }
  .travel-stories {
    
  position: absolute;
  width: 1201px;
  height: 1262px;
  left: 119px;
  top: 2371px;
  z-index: 1;
  border: solid 1px #ff0000;

  }
  .footer-image {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 1442px;
  height: 1331px;
  left: 0 px;
  top: 2404px;  
 
  background-image: url("images/Rectangle\ 33.jpg");
  }
  .footer-background {
    position: relative;
    top: 0;
    left: 0;
    width: 1442px;
    height: 1286px;
    background-color: #bbbbbb;
    border: solid 1px #ff0000;
    opacity: 0.7;
  }
  .footer{
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 1442px;
    height: 45px;
    border: solid 1px #ff0000;
  }
  .nav {
    width: 720px;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .nav-link {
    padding: 0 20px 0 20px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.5s;
    }
    .nav-link:hover {
      color: #0000ff;
    }
    .link {
    text-decoration: none; 
    transition: color 0.5s;
    color: #050505; 
    }
    .link:hover {
    color: #0000ff;
    }
    